# Python
venv/
__pycache__/
*.py[cod]

# Django
db.sqlite3
media/

# Environment
.env
.env.*
venv/
# OS
.DS_Store
Thumbs.db

yalhardware-backend.git/
render_backup.sql

project_tree.txt
project_tree.py

backup.dump